<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s12">
                        <form #jajananForm="ngForm" (ngSubmit)="onSubmit(jajananForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="jajananService.selectedJajanan._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="nama_jajanan" #name="ngModel" [(ngModel)]="jajananService.selectedJajanan.nama_jajanan" placeholder="Masukkan nama jajanan" required>
                                    <label>Nama :
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="harga_beli" #name="ngModel" [(ngModel)]="jajananService.selectedJajanan.harga_beli" placeholder="Masukkan nominal harga beli jajanan">
                                    <label>Harga Beli :</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="harga_jual" #name="ngModel" [(ngModel)]="jajananService.selectedJajanan.harga_jual" placeholder="Masukkan nominal harga jual jajanan">
                                    <label>Harga Jual :</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(jajananForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit" [disabled]="!jajananForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12">
                        <table class="responsive-table highlight">
                            <tr>
                                <th>Nama</th>
                                <th>Harga Beli</th>
                                <th>Harga Jual</th>
                                <th>Aksi</th>
                            </tr>
                            <tr *ngFor="let jajan of jajananService.jajanan">
                                <td style="padding-left: 10px">{{ jajan.nama }}</td>
                                <td style="padding-left: 10px">{{ jajan.harga_beli }}</td>
                                <td style="padding-left: 10px">{{ jajan.harga_jual }}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(jajan)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(jajan._id, jajananForm)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>