<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Koperasi Dinamika Harmoni</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="nav-item">
        <a class="nav-link" routerLink="jajanan" routerLinkActive="active">Jajanan</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pemasok" routerLinkActive="active">Pemasok</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>